<img src="{{headerImage}}" width="980" height="219" />
<h1>{{title}}</h1>

<div>
    <h3>Compact and light-weight, easy for installation</h3>
    <p>The  high efficiency condensing combination boiler is available in 24kW and 28kW outputs and is fitted with a 24 hour easy-to-use analogue timer. Delivered with a2 year manufacturer’s parts and labour warranty, it meets currentPart L Building Regulations 2010. Our lightweight easy-to-install boiler is an excellent choice for those requiring ano-nonsense, value for money combi solution.</p>

        <ul>
            <li>Factory fitted analogue timer</li>
            <li>Large surface area composite heat exchanger to maximise heat transfer</li>
            <li>User friendly controls – digital diagnostic display</li>
            <li>Low energy pump fitted as standard</li>
            <li>In-built frost protection</li>
            <li>DHW flow rate: 9.4l/m at ΔT35°C (24kW)</li>
            <li>DHW flow rate: 11.4 l/m at ΔT35°C (28kW)</li>
            <li>2year parts and labour warranty</li>
            <li>SEDBUK 2009 rating of 90% (24kW) and 88.5% (28kW)</li>
            <li>Equivalent of SEDBUK 2005 A rating</li>
            <li> Group Quality approved components.</li>
        </ul>

</div>

<div data-ng-include src="'partials/footer.html'"></div>

