<img src="{{headerImage}}" width="980" height="219" />
<h1>{{title}}</h1>

    <p>After manufacturing heating equipment for over fifty years, we know what it takes to produce high quality products that are affordable and reliable. Now with our Capri Plus range of condensing boilers, with a 2 year guarantee as standard,&nbsp;we believe anyone can have an industry leading product at an affordable cost.</p>
    
    <p>As a result of becoming stockist, you will receive:</p>
    
    <ul>
        <li>The backing of one of Europe’s largest Heating Technology manufacturers</li>
        <li>Competitive prices</li>
        <li>Two models to suit your customers needs – 24kW and 28kW models available</li>
        <li>Industry-leading nationwide distribution</li>
        <li>A focus on working with Independents</li>
        <li>Dedicated sales and marketing support</li>
        <li>Investment in ongoing product development</li>
    </ul>
    
    <p>So, if you want to be a part of our rapidly expanding approved stockist network, please&nbsp;enter your details below and a member of our&nbsp;team will contact you.</p>
    
    <div>
        <form action="#/become-stockist/" method="post">

        <p>First Name<br>
            <span ><input type="text" name="FirstName" value="" size="40" ></span>
        </p>
        <p>Surname<br>
            <span><input type="text" name="Surname" value="" size="40" ></span>
        </p>
        <p>Company Name<br>
            <span><input type="text" name="CompanyName" value="" size="40" ></span>
        </p>
        <p>Telephone<br>
            <span><input type="tel" name="telephone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel"></span>
        </p>
        <p>Address<br>
            <span><input type="text" name="Address" value="" size="40" ></span>
        </p>
        <p>Town<br>
            <span><input type="text" name="Town" value="" size="40" ></span>
        </p>
        <p>City<br>
            <span><input type="text" name="City" value="" size="40" ></span>
        </p>
        <p>Postcode<br>
            <span><input type="text" name="Postcode" value="" size="40" ></span>
        </p>
        <p>Your Email (required)<br>
            <span ><input type="email" name="your-email" value="" size="40"></span> </p>
        <p><input type="submit" value="Send" ></p>
        </form>
    </div>
    <div data-ng-include src="'partials/footer.html'"></div>

